Времени на этой неделе мало, поэтому я сделал только 2 первые задачи

In [138]:
import pandas as pd
import numpy as np

In [139]:
brent = pd.read_csv('Brent_price.csv', sep=';')

In [140]:
brent.head()

           Date   Open   High    Low  Close*  Adj Close**  Volume
0  Dec 07, 2023  74.30  75.48  73.61   74.03        74.03  24,213
1  Dec 06, 2023  77.06  77.63  74.11   74.30        74.30  30,931
2  Dec 05, 2023  78.20  79.07  76.98   77.20        77.20  30,931
3  Dec 04, 2023  79.43  79.66  77.52   78.03        78.03  32,582
4  Dec 01, 2023  80.47  81.52  78.75   78.88        78.88  29,551

In [141]:
from statsmodels.tsa.stattools import adfuller

Зададим функцию с расширенным тестом Дики-Фуллера, которую будем использовать для решения 1 и 2 задачи

In [142]:
def ADF_test(x, alfa = 0.1):
    result = adfuller(x)
    
    print('Значение тест ADF (Расширенный тест Дики-Фуллера) для цены брента: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Критические значения:')
    
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))
    
    return result [1]< alfa

In [143]:
def log_r(x,y):
    return np.log(x) - np.log(y)

# Задача 1

In [144]:
p = 0.9
print('Стационарный вероятностью >' if ADF_test(brent['Close*'], 1-p) else 'Нельзя сказать, что стационарный с вероятностью >', p)

Значение тест ADF (Расширенный тест Дики-Фуллера) для цены брента: -2.395073
p-value: 0.143132
Критические значения:
	1%: -3.457
	5%: -2.873
	10%: -2.573
Нельзя сказать, что стационарный с вероятностью > 0.9

Значение теста больше 10%-критического значение (p-value больше 10%). Нельзя сказать, что временной ряд стационарен с вероятностью высокой веротностью (90% и выше)

# Задача 2

In [145]:
brent['log_r'] = brent.apply(lambda x: log_r(x['Close*'], x['Open']), axis=1)

In [146]:
brent.head()

           Date   Open   High    Low  Close*  Adj Close**  Volume     log_r
0  Dec 07, 2023  74.30  75.48  73.61   74.03        74.03  24,213 -0.003641
1  Dec 06, 2023  77.06  77.63  74.11   74.30        74.30  30,931 -0.036473
2  Dec 05, 2023  78.20  79.07  76.98   77.20        77.20  30,931 -0.012870
3  Dec 04, 2023  79.43  79.66  77.52   78.03        78.03  32,582 -0.017783
4  Dec 01, 2023  80.47  81.52  78.75   78.88        78.88  29,551 -0.019957

In [147]:
p = 0.99
print('Стационарный вероятностью >' if ADF_test(brent['log_r'], 1-p) else 'Нельзя сказать, что стационарный с вероятностью >', p)

Значение тест ADF (Расширенный тест Дики-Фуллера) для цены брента: -10.518613
p-value: 0.000000
Критические значения:
	1%: -3.457
	5%: -2.873
	10%: -2.573
Стационарный вероятностью > 0.99

adfuller посчитал нам совсем низкий p-value и это хорошо, но подозрительно. Тем не менее, сравнивая значения статистики с критическими значениями, приходим к тому же выводу

# Задачи 3 и 4

In [148]:
usd_rub = pd.read_csv('RUBUSD.csv', sep=',')

In [149]:
usd_rub.head(), brent.head()

(         Date       Open       High        Low      Close  Adj Close  Volume
 0  2022-12-07  60.514999  63.279999  60.514999  60.514999  60.514999       0
 1  2022-12-08  61.965000  62.980099  61.965000  63.464901  63.464901       0
 2  2022-12-09  62.035000  62.779999  62.035000  63.365002  63.365002       0
 3  2022-12-12  62.480000  63.249500  62.380001  62.480000  62.480000       0
 4  2022-12-13  62.625000  63.508499  62.625000  62.625000  62.625000       0,
            Date   Open   High    Low  Close*  Adj Close**  Volume     log_r
 0  Dec 07, 2023  74.30  75.48  73.61   74.03        74.03  24,213 -0.003641
 1  Dec 06, 2023  77.06  77.63  74.11   74.30        74.30  30,931 -0.036473
 2  Dec 05, 2023  78.20  79.07  76.98   77.20        77.20  30,931 -0.012870
 3  Dec 04, 2023  79.43  79.66  77.52   78.03        78.03  32,582 -0.017783
 4  Dec 01, 2023  80.47  81.52  78.75   78.88        78.88  29,551 -0.019957)

Нужно привести даты к одному формату, объединить по ним таблицы и посчитать log изменений цены доллара (для задачи 4)

In [162]:
from datetime import datetime
import datetime as dt

In [153]:
brent['Date'] = brent['Date'].apply(lambda x: datetime.strptime(x, "%b %d, %Y"))
brent.head()

In [155]:
usd_rub['Date'] = usd_rub['Date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))
usd_rub.head()

        Date       Open       High        Low      Close  Adj Close  Volume
0 2022-12-07  60.514999  63.279999  60.514999  60.514999  60.514999       0
1 2022-12-08  61.965000  62.980099  61.965000  63.464901  63.464901       0
2 2022-12-09  62.035000  62.779999  62.035000  63.365002  63.365002       0
3 2022-12-12  62.480000  63.249500  62.380001  62.480000  62.480000       0
4 2022-12-13  62.625000  63.508499  62.625000  62.625000  62.625000       0

In [156]:
df = pd.merge(usd_rub, brent, on = 'Date', suffixes=('_usd', '_brent'))[['Date', 'Open_usd', 'Close', 'Close*', 'log_r']]
df.head()

        Date   Open_usd      Close  Close*     log_r
0 2022-12-07  60.514999  60.514999   77.17 -0.033387
1 2022-12-08  61.965000  63.464901   76.15 -0.017444
2 2022-12-09  62.035000  63.365002   76.10 -0.008245
3 2022-12-12  62.480000  62.480000   77.99  0.017070
4 2022-12-13  62.625000  62.625000   80.68  0.031349

Переименуем столбцы, чтобы не путаться

In [157]:
df.rename(columns={'Close':'Price_usd', 'Close*':'Price_brent', 'log_r':'log_r_brent'}, inplace= True)
df.head()

        Date   Open_usd  Price_usd  Price_brent  log_r_brent
0 2022-12-07  60.514999  60.514999        77.17    -0.033387
1 2022-12-08  61.965000  63.464901        76.15    -0.017444
2 2022-12-09  62.035000  63.365002        76.10    -0.008245
3 2022-12-12  62.480000  62.480000        77.99     0.017070
4 2022-12-13  62.625000  62.625000        80.68     0.031349

Найдем log-изменения для доллара и уберем цену открытия

In [158]:
df['log_r_usd'] = df.apply(lambda x: log_r(x['Price_usd'], x['Open_usd']), axis=1)
df.drop('Open_usd', axis=1, inplace=True)

Регрессия в sklearn отлично подходит для задач машинного обучения, но мы будем использовать statmodels, так как там есть хорошая функция summary с нужными нам метриками. 
### Метрики и их интепретация - сначала для модели абсолютных значений, потом - лог-изменения:

In [160]:
import statsmodels.api as sm
X = df[['Price_brent']]
y= df['Price_usd']
X = sm.add_constant(X)

model_absolute = sm.OLS(y, X)
results = model_absolute.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Price_usd   R-squared:                       0.146
Model:                            OLS   Adj. R-squared:                  0.142
Method:                 Least Squares   F-statistic:                     37.81
Date:                Fri, 08 Dec 2023   Prob (F-statistic):           3.60e-09
Time:                        03:15:55   Log-Likelihood:                -843.37
No. Observations:                 223   AIC:                             1691.
Df Residuals:                     221   BIC:                             1698.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          15.7795     10.958      1.440      0.151      -5.817      37.376
Price_brent     0.8171      0.133      6.149      0.000       0.555       1.079
==============================================================================
Omnibus:                       97.080   Durbin-Watson:                   0.420
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              543.276
Skew:                          -1.615   Prob(JB):                    1.07e-118
Kurtosis:                       9.931   Cond. No.                     1.26e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.26e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

$R^2$ очень низкий. Хорошее значение теста Фишера: вероятность того, что цена доллара лучше описыватает константон - почти нуделева. Отрицательное правдоподобие - тоже плохо. t-статистика для цены на нефть высокая, настолько что P>|t| почти ноль, что должно говорить значимости коэффициента перед ценой нефти. Очень высокие показатели AIC BIC, что должно говорить о переученности.
По савокупности, я бы не пользовался этой моедлью

In [161]:
X = df[['log_r_brent']]
y= df['log_r_usd']
X = sm.add_constant(X)

model_log_r = sm.OLS(y, X)
results = model_log_r.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_r_usd   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9095
Date:                Fri, 08 Dec 2023   Prob (F-statistic):              0.341
Time:                        03:15:55   Log-Likelihood:                 63.867
No. Observations:                 223   AIC:                            -123.7
Df Residuals:                     221   BIC:                            -116.9
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.0112      0.012     -0.917      0.360      -0.035       0.013
log_r_brent     0.5988      0.628      0.954      0.341      -0.639       1.836
==============================================================================
Omnibus:                      496.936   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           437416.167
Skew:                         -14.678   Prob(JB):                         0.00
Kurtosis:                     217.975   Cond. No.                         51.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Метрики этой логарифмической модели даже хуже. $R^2$ почти ноль. Статистика Фишера низкая и вероятность, что коэффичент перед log-изменением цены брента 0 с вероятностью 0,34, что много. P>|t| принимают большие значения (обычно сравнивают с 0,05), и оба коэффициента могут быть отброшены. Как и сама модель

### Вывод:
2022-2023 годы оказались периодами, когда традиционная связь между ценой нефти и курсом доллара (и между их изменениями) была нарушена. Российская нефть продается с переменным дисконтом к брент, наблидается задержка между изменениями цены на нефть и поступлениями валюту в страну, свущественные корректировки вносили крупные сделки выкупа иностранных активов в РФ, попытки государства управлять курсом, политические события, динамика импорта, а также оторванность нашей финансовой системы от мировой (РФ банки в санкциях, иностранные - ушли из России или не имеют значимых лимитов на РФ рынок). Эти и другие причины повлияли на динамику курса рубля, по всей видимости, существенно больше, чем цена нефти марки Брент