In [1]:
import pandas as pd

# Задание 1

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Функция, котороя по рейтингу определяет класс

In [7]:
def rating_to_category(rating):
    if rating <= 2:
         return 'Низкий рейтинг'
    if rating <= 4:
         return 'Средний рейтинг'
    return 'Высокий рейтинг'

Посчитаем средние рейтинги для фильмов и определим класс фильма по его среднему рейтингу

In [16]:
mean_ratings = ratings.groupby('movieId').mean()[['rating']].reset_index()

In [20]:
mean_ratings['class'] = mean_ratings['rating'].apply(rating_to_category)

In [21]:
mean_ratings.head()

   movieId    rating            class
0        1  3.920930  Средний рейтинг
1        2  3.431818  Средний рейтинг
2        3  3.259615  Средний рейтинг
3        4  2.357143  Средний рейтинг
4        5  3.071429  Средний рейтинг

Чтобы было видно не тольк movieId, но и название, объединим полученный фрейм с movies, используя метод merge по movieId

In [30]:
pd.merge(movies, mean_ratings, on = 'movieId')

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,Средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,Средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,Средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,Средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.071429,Средний рейтинг
...,...,...,...,...,...
9719,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.000000,Средний рейтинг
9720,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.500000,Средний рейтинг
9721,193585,Flint (2017),Drama,3.500000,Средний рейтинг
9722,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,3.500000,Средний рейтинг
9723,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,4.000000,Средний рейтинг

Альтернативный вариант. Чтобы "подтянуть" название фильма по его ID, определим фунцию, которая возвращает класс фильма по ID. Применим эту функцию к столбцам movies

In [32]:
def class_from_movieId(movieId):
    return mean_ratings[mean_ratings['movieId'] == movieId]['class'].squeeze()

In [34]:
movies['class'] = movies['movieId'].apply(class_from_movieId)

In [35]:
movies.head()

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,Средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,Средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,Средний рейтинг

# Задание 2

In [36]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [39]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Определим фунцию возращающую регион по городу, используя geo_data

In [47]:
def region_by_location(location):
    for region in geo_data:
        if location in geo_data[region]:
            return region
    return 'undefined'

In [53]:
region_by_location('вк'), region_by_location('хабаровск')

('undefined', 'Дальний Восток')

Применим функцию к значениям столбца keywords

In [54]:
keywords['region'] = keywords['keyword'].apply(region_by_location)

In [55]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined